@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --keio-blue: #0E1546;
  --keio-gold: #FDD34C;
  --keio-red: #C4232D;
  --white: #FFFFFF;
}

body {
  background-color: var(--white);
  color: var(--keio-blue);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
